.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  
  .prof-pic-container {
    height: 19rem;
    width: 19rem;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(246, 246, 246);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .prof-pic {
      height: 17rem;
      width: 17rem;
      border-radius: 25px;
    }
  }
  
  .hero-text {
    width: 17rem;
    margin: 0 2rem;
    background-color: rgb(246, 246, 246);
    color: rgb(10, 10, 10);
    padding: 0 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

@media only screen and (min-width: 800px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 80vh;
    width: 100vw;
  
    .prof-pic-container {
      margin: 0 2rem;
      height: auto;
      width: 35vw;
    }
    
    .hero-text {
      margin: 0 2rem;
      width: 40vw;
    }
  }
}

@media only screen and (min-width: 1150px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 80vh;
    width: 100vw;
  
    .prof-pic-container {
      margin: 0 2rem;
      height: auto;
      width: 25vw;
    }
    
    .hero-text {
      margin: 0 2rem;
      width: 40vw;
    }
  }
}