.skills {
  display: flex;
  align-items: center;
  flex-direction: column;

  .skills-container {
    width: 50vw;

    .skill-icons {
      height: 60px;
      width: 60px;
      padding: 1rem 1rem;
    }
  }
}